<div class="container-fluid mt-5" fxFlex fxLayout="column" fxLayoutGap="30">
<div *ngIf="authService.userMod | async" fxFlex fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button (click)="addAdvert()">Dodaj Ogłoszenie</button>
</div>
<div *ngFor="let adv of adverts | async" fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">
    <nz-card style="width:100%;" nzTitle="{{adv.title}}" [nzExtra]="extraTemplate">
        <p>{{adv.desc}}</p>
      </nz-card>
      <ng-template #extraTemplate>
        {{adv.createdAt.seconds*1000 | date: 'dd/MM/YYYY'}}
        <button *ngIf="authService.userMod | async" (click)="editAdvert(adv)" mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="authService.userMod | async" (click)="delete(adv)" mat-icon-button color="warn">
          <mat-icon>cancel</mat-icon>
        </button>
      </ng-template>
  </div>
<div class="container my-5" *ngIf="(len | async) == 0">
    <nz-empty [nzNotFoundContent]="null"></nz-empty>
</div>
</div>