<div class="container">
    <div class="chat_container">
       <div class="col-sm-12 mt-5 message_section">
       <div class="row">  
       <div class="chat_area">
       <ul class="list-unstyled">
            <li class="left">
                   <span class="chat-img1 pull-left">
                   <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                   </span>
                   <div class="chat-body1">
                      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                      <div class="chat_time pull-right">09:40PM</div>
                   </div>
                </li>
       </ul>
       </div><!--chat_area-->
        <div class="message_write ">
            <form (submit)="sendMessage()">
                <mat-form-field class="col" appearance="fill">
                  <mat-label>Wiadomość</mat-label>
                  <input matInput>
                </mat-form-field>
                <button mat-flat-button class="col" color="primary">Wyślij wiadomość</button>
              </form>
       </div>
       </div>
       </div> <!--message_section-->
    </div>
 </div>