<mat-stepper orientation="vertical" [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Podstawowe Dane</ng-template>
        <div class="row">
          <div class="col">
            <mat-form-field class="my-2" appearance="outline">
              <mat-label>Adres Email</mat-label>
              <input matInput placeholder="Email" formControlName="email">
              <mat-error *ngIf="firstFormGroup.controls['email'].hasError('required')">Email jest wymagany</mat-error>
              <mat-error *ngIf="firstFormGroup.controls['email'].hasError('email')">Nieprawidłowo wpisany adres email</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            
        <mat-form-field class="my-2" appearance="outline">
          <mat-label>Hasło </mat-label>
          <input matInput [type]="visible_password ? 'password' : 'text'" placeholder="Twoje hasło" formControlName="password" />
          <mat-icon (click)="visible_password=!visible_password" matSuffix>
            {{ visible_password ? 'visibility' : 'visibility_off' }}
          </mat-icon>
          <mat-error *ngIf="firstFormGroup.controls['password'].hasError('required')">Hasło jest wymagane</mat-error>
          <mat-error *ngIf="firstFormGroup.controls['password'].hasError('minlength')">Hasło jest zbyt krótkie</mat-error>
        </mat-form-field>
          </div>
        </div>
        <div>
          <button mat-button matStepperNext>Przejdź dalej</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Rozszerzenie użytkownika</ng-template>
        <div class="row my-2">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Imię</mat-label>
              <input matInput placeholder="Imię" formControlName="name">
              <mat-error *ngIf="secondFormGroup.controls['name'].hasError('required')">Imię jest wymagane</mat-error>            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Nazwisko</mat-label>
              <input matInput placeholder="Hasło" formControlName="lastname">
              <mat-error *ngIf="secondFormGroup.controls['lastname'].hasError('required')">Nazwisko jest wymagane</mat-error> 
            </mat-form-field>
          </div>
        </div>
  
        <div class="row my-2">
          <div class="col ">
            <mat-form-field appearance="outline">
              <mat-label>Adres</mat-label>
              <input matInput placeholder="Adres" formControlName="address">
              <mat-error *ngIf="secondFormGroup.controls['address'].hasError('required')">Adres jest wymagany</mat-error> 
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Kod Pocztowy</mat-label>
              <input matInput placeholder="Kod Pocztowy" formControlName="postcode">
              <mat-error *ngIf="secondFormGroup.controls['postcode'].hasError('required')">Kod Pocztowy jest wymagany</mat-error> 
              <mat-hint>XX-XXX</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row my-2">
          <div class="col ">
            <mat-form-field appearance="outline">
              <mat-label>Miasto</mat-label>
              <input matInput placeholder="Miasto" formControlName="city">
              <mat-error *ngIf="secondFormGroup.controls['city'].hasError('required')">Miasto jest wymagane</mat-error> 
            </mat-form-field>
          </div>
  
          <div class="col ">
            <mat-form-field appearance="outline">
              <mat-label>Telefon Kontaktowy</mat-label>
              <input matInput placeholder="Telefon Kontaktowy" formControlName="phone">
              <mat-hint>XXX-XXX-XXX</mat-hint>
              <mat-error *ngIf="secondFormGroup.controls['phone'].hasError('pattern')">Telefon jest nieprawidłowy</mat-error>
            </mat-form-field>
          </div>
  
        </div>
  
        <div class="row my-2">
          <div class="col ">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Rachunek Bankowy</mat-label>
              <input matInput placeholder="Rachunek Bankowy" formControlName="bankaccount" placeholder="61 1090 1014 0000 0712 1981 2874"/>
              <mat-hint>XX XXXX XXXX XXXX XXXX XXXX XXXX</mat-hint>
              <mat-error *ngIf="secondFormGroup.controls['bankaccount'].hasError('required')">Rachunek Bankowy jest wymagany</mat-error>
            </mat-form-field>
            
          </div>
        </div>
  
        
  
  
  
  
        <div>
          <button mat-button matStepperPrevious>Cofnij</button>
          <button mat-button matStepperNext>Przejdź Dalej</button>
        </div>
  
      </form>
    </mat-step>
    <mat-step [stepControl]="threeFormGroup">
      <form [formGroup]="threeFormGroup">
        <ng-template matStepLabel>Uprawnienia Moderatora</ng-template>
        <div class="row my-4">
          <div class="col">
            <mat-slide-toggle formControlName="moderator">Uprawnienia Moderatora</mat-slide-toggle>
          </div>
        </div>
  
        <div>
          <button mat-button matStepperPrevious>Cofnij</button>
          <button mat-button matStepperNext>Przejdź Dalej</button>
        </div>
      </form>
    </mat-step>
  
    <mat-step>
      <ng-template matStepLabel>Weryfikacja Danych</ng-template>
  
      <div class="row">
        <mat-list>
          <div class="col">
            <mat-list-item>Email: {{firstFormGroup.value.email}} </mat-list-item>
            <mat-list-item>Hasło: {{firstFormGroup.value.password}} </mat-list-item>
          </div>
          <div class="col">
            <mat-list-item>Imię: {{secondFormGroup.value.name}} </mat-list-item>
            <mat-list-item>Nazwisko: {{secondFormGroup.value.lastname}} </mat-list-item>
            <mat-list-item>Adres: {{secondFormGroup.value.address}} </mat-list-item>
            <mat-list-item>Kod Pocztowy: {{secondFormGroup.value.postcode}} </mat-list-item>
          </div>
          <div class="col">
            <mat-list-item *ngIf="threeFormGroup.value.moderator; else NoMod">Uprawnienia Moderatora: Tak</mat-list-item>
            <ng-template #NoMod>Uprawnienia Moderatora: Nie</ng-template>
          </div>
        </mat-list>
  
      </div>
  
      <div>
        <button mat-button matStepperPrevious>Cofnij</button>
        <button mat-button matStepperNext>Przejdź Dalej</button>
      </div>
    </mat-step>
  
    <mat-step>
      <ng-template matStepLabel>Finalizacja</ng-template>
      <div class="row my-4">
        <p>Czy utworzyć konto dla użytkownika {{secondFormGroup.value.name}} {{secondFormGroup.value.lastname}} ?</p>
      </div>
      <div>
        <button mat-button matStepperPrevious>Cofnij</button>
        <button mat-button color="warn" (click)="createUser()">Utwórz Konto</button>
      </div>
    </mat-step>
  </mat-stepper>
  