<div class="container-fluid mt-5">
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="30" *ngIf="authService.userInfo.getValue() as user">
      <div fxLayout="row" fxFlex="50" class="dashboard-panel col">
        <div fxFlex="15"><img src="../../assets/images/dashboard/bank-statement.png"></div>
        <div class="desc" fxFlex>
          <h2>Indywidualny numer konta</h2>
          <p>{{user.bankaccount}}</p>
        </div>
      </div>
      <div *ngFor="let x of lastraport | async" fxLayout="row" fxFlex="50" class="dashboard-panel col">
        <div fxFlex="15"><img src="../../assets/images/dashboard/bill.png"></div>
        <div class="desc" fxFlex>
          <h2>Ostatnia wpłata</h2>
          <p>{{ x.sum | currency: 'PLN' :'symbol':'1.1-2'}}</p>
        </div>
      </div>  
      <div fxLayout="row" fxFlex="50" class="dashboard-panel col">
        <div fxFlex="15"><img src="../../assets/images/dashboard/bill.png"></div>
        <div class="desc" fxFlex>
          <h2>Stan konta</h2>
          <p>{{user.bankaccount}}</p>
        </div>
      </div>  
      
</div>
</div>