<h1 mat-dialog-title>Zmiana Hasła Użytkownika</h1>
<div mat-dialog-content><br /><br />

    <form [formGroup]="form" (ngSubmit)="changePassword()">
        <div class="mb-3 ml-3">
            <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Stare Hasło:</mat-label>
              <input formControlName="oldpassword" matInput [type]="hideold ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hideold = !hideold" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hideold ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint>Wpisz stare hasło</mat-hint>
              <mat-error *ngIf="this.form.invalid">{{getErrorMessageOldPassword()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="row mt-2">
            <mat-form-field appearance="fill">
                <mat-label>Nowe Hasło:</mat-label>
              <input formControlName="newpassword" matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint>Wpisz nowe hasło</mat-hint>
              <mat-error *ngIf="this.form.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
          </div>
      </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true">Oh nie!</button>
  <button mat-raised-button color="primary" (click)="changePassword()" [disabled]="!form.valid">Tak, proszę</button>
</div>
