.example-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  gap: 20px;
}

.fullwidth {
  width: 100%;
}

mat-card-title {
  color: #fff;
  display: flex !important;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px !important;

}

.mat-card-content {
  display: flex !important;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
}

.banner {
  background-image: linear-gradient(169deg, #5983fc 16%, #1e50c8 89%) !important;
  height: 60px;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}