<mat-card class="example-card">
    <mat-card-title>Profil {{data.name}} {{data.lastname}}</mat-card-title>
  
    <div class="example-container mt-3">
      <form [formGroup]="form" (ngSubmit)="SaveUser()" autocomplete="on">
        <mat-card-content>
  
          <div class="row mt-4">
  
            <div class="col-6">
              <mat-form-field appearance="legacy">
                <mat-label>Imię:</mat-label>
                <input matInput type="text" [(ngModel)]="data.name" formControlName="name" placeholder="Imię" />
                <mat-icon matSuffix>badge</mat-icon>
                <mat-hint>Imię</mat-hint>
  
                <mat-error *ngIf="(form.get('login'))?.errors?.['required']">Login jest wymagany</mat-error>
                <mat-error *ngIf="(form.get('login')?.errors?.['minLength'])">
                  Login musi mięć więcej niż 6 znaków.
                </mat-error>
  
              </mat-form-field>
            </div>
  
            <div class="col-6">
              <mat-form-field appearance="legacy">
                <mat-label>Nazwisko:</mat-label>
                <input matInput type="text" [(ngModel)]="data.lastname" formControlName="lastname"
                  placeholder="Nazwisko" />
                <mat-icon matSuffix>badge</mat-icon>
                <mat-hint>Nazwisko</mat-hint>
  
                <mat-error *ngIf="(form.get('login'))?.errors?.['required']">Login jest wymagany</mat-error>
                <mat-error *ngIf="(form.get('login')?.errors?.['minLength'])">
                  Login musi mięć więcej niż 6 znaków.
                </mat-error>
  
              </mat-form-field>
            </div>
  
  
          </div>
  
          <div class="row">
  
            <div class="col-6">
              <mat-form-field appearance="legacy">
                <mat-label>Adres:</mat-label>
                <input matInput type="text" [(ngModel)]="data.address" formControlName="address" placeholder="Adres" />
                <mat-icon matSuffix>approval</mat-icon>
                <mat-hint>Adres</mat-hint>
  
                <mat-error *ngIf="(form.get('login'))?.errors?.['required']">Login jest wymagany</mat-error>
                <mat-error *ngIf="(form.get('login')?.errors?.['minLength'])">
                  Login musi mięć więcej niż 6 znaków.
                </mat-error>
  
              </mat-form-field>
            </div>
  
            <div class="col-6">
              <mat-form-field appearance="legacy">
                <mat-label>Kod Pocztowy:</mat-label>
                <input matInput type="text" [(ngModel)]="data.postcode" formControlName="postcode"
                  placeholder="Kod Pocztowy" />
                <mat-icon matSuffix>signpost</mat-icon>
                <mat-hint>Kod Pocztowy</mat-hint>
              </mat-form-field>
            </div>
  
  
          </div>
          <div class="row mt-3">
  
            <div class="col-6">
              <mat-form-field appearance="legacy">
                <mat-label>Miasto:</mat-label>
                <input matInput type="text" [(ngModel)]="data.city" formControlName="city" placeholder="Miasto" />
                <mat-icon matSuffix>cottage</mat-icon>
                <mat-hint>Miasto</mat-hint>
  
                <mat-error *ngIf="(form.get('login'))?.errors?.['required']">Login jest wymagany</mat-error>
                <mat-error *ngIf="(form.get('login')?.errors?.['minLength'])">
                  Login musi mięć więcej niż 6 znaków.
                </mat-error>
  
              </mat-form-field>
            </div>
  
            <div class="col-6">
              <mat-form-field appearance="legacy">
                <mat-label>Kontakt Telefoniczny:</mat-label>
                <input matInput type="text" [(ngModel)]="data.phone" formControlName="phone"
                  placeholder="Kontakt Telefoniczny" />
                <mat-icon matSuffix>call</mat-icon>
                <mat-hint>Kontakt Telefoniczny</mat-hint>
  
                <mat-error *ngIf="(form.get('login'))?.errors?.['required']">Login jest wymagany</mat-error>
                <mat-error *ngIf="(form.get('login')?.errors?.['minLength'])">
                  Login musi mięć więcej niż 6 znaków.
                </mat-error>
  
              </mat-form-field>
            </div>
  
  
  
  
          </div>
  
  
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="legacy" class="fullwidth">
                <mat-label>Rachunek Bankowy:</mat-label>
                  <input matInput type="text" [(ngModel)]="data.bankaccount" formControlName="bankaccount"
                  placeholder="Rachunek Bankowy" />
                <mat-icon matSuffix>account_balance</mat-icon>
                <mat-hint>Rachunek Bankowy</mat-hint>
              </mat-form-field>
            </div>
  
          </div>
  
  
          <div class="row mt-3">
            <div class="col-6">
              <mat-slide-toggle formControlName="moderator">Uprawnienia Moderatora</mat-slide-toggle>
            </div>
          </div>
  
          <div class="row">
            <div class="col-12 text-right">
              <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                Zaakceptuj zmiany
              </button>
            </div>
          </div>
  
        </mat-card-content>
  
      </form>
    </div>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
  