.banner {
    background-image: linear-gradient(169deg, #5983fc 16%, #1e50c8 89%) !important;
    height: 60px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fafafa;
    text-transform: uppercase;
  }