
<div class="container-fluid mt-5">

    <div class="row">
      <div class="col-6 justify-content-md-center">
          <mat-form-field fxFlex="60%" [style.margin-bottom]="'1em'">
            <input #box matInput type="text" (keyup)="doFilter(box.value)" placeholder="Wyszukaj..">
          </mat-form-field>
      
        </div>
      
        <div class="col-6 text-center">
              <a mat-raised-button color="primary" (click)="addUser()"><mat-icon aria-hidden="false" aria-label="person_add">person_add</mat-icon> Dodaj Mieszkańca</a>
        </div>
      
      </div>
    
    <div class="row">
      <div class="col">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
    
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pozycja </th>
            <td mat-cell *matCellDef="let element; let i = index">{{element.index}}</td>
          </ng-container>
        
        
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Imię </th>
              <td mat-cell *matCellDef="let element"> {{element.name}}</td>
            </ng-container>
      
            <ng-container matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko </th>
              <td mat-cell *matCellDef="let element"> {{element.lastname}}</td>
            </ng-container>
            
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Adres </th>
              <td mat-cell *matCellDef="let element"> {{element.address}}</td>
            </ng-container>
            
      
            <ng-container matColumnDef="postcode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Kod Pocztowy </th>
              <td mat-cell *matCellDef="let element"> {{element.postcode}}</td>
            </ng-container>
    
            <ng-container matColumnDef="city">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Miasto </th>
              <td mat-cell *matCellDef="let element"> {{element.city}} </td>
            </ng-container>
            
    
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
    
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefon Kontaktowy </th>
              <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>
    
    
            
            <ng-container matColumnDef="admin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Moderator </th>
                <td mat-cell *matCellDef="let element"><span *ngIf="element.moderator; else noadmin">Tak</span></td>
                <ng-template #noadmin>Nie</ng-template>
            </ng-container>
    
            <ng-container matColumnDef="bankaccount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Indywidualny Numer Konta </th>
              <td mat-cell *matCellDef="let element">{{element.bankaccount}}</td>
              <ng-template #noadmin>Nie</ng-template>
          </ng-container>
    
          
            
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Edytuj </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button color="primary" (click)="redirectToEdit(element)">
                      <mat-icon class="mat-18">mode_edit</mat-icon>
                  </button>
                </td>
              </ng-container>
    
      
              <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef> Usuń </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="warn" (click)="redirectToDelete(element)">
                        <mat-icon class="mat-18">delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
    
      </div>
     
    </div>
    </div>