<div class="loginform" style="height: 100vh;justify-content:center;align-items:center;">
  <mat-card fxFlex="100" fxFlex.md="50" fxFlex.sm="70" fxFlex.xl="40" fxFlex.lg="30" fxLayout="column" fxLayoutAlign="center">
    <mat-card-title class="text-center mb-5">Logowanie</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="login()" autocomplete="on">
      <mat-card-content fxLayout="column">
        <mat-form-field class="my-3" appearance="legacy">
          <mat-label>Email:</mat-label>
          <input matInput type="email" formControlName="email" placeholder="Twój email" />
          <mat-icon matSuffix>mail_outline</mat-icon>
          <mat-hint>Adres Email</mat-hint>
          <mat-error *ngIf="form.controls['email'].hasError('required')">Email jest wymagany</mat-error>
          <mat-error *ngIf="form.controls['email'].hasError('email')">Nieprawidłowo wpisany adres email</mat-error>
        </mat-form-field>
        <mat-form-field class="my-3" appearance="standard">
          <mat-label>Hasło </mat-label>
          <input matInput [type]="visible_password ? 'password' : 'text'" placeholder="Twoje hasło" formControlName="password" />
          <mat-icon (click)="visible_password=!visible_password" matSuffix>
            {{ visible_password ? 'visibility' : 'visibility_off' }}
          </mat-icon>
          <mat-error *ngIf="form.controls['password'].hasError('required')">Hasło jest wymagane</mat-error>
          <mat-error *ngIf="form.controls['password'].hasError('minlength')">Hasło jest zbyt krótkie</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid"> Zaloguj się </button>
      </mat-card-content>
    </form>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>