<div class="loginform" fxLayoutAlign="center center" ngStyle.lg="height: 100vh" ngStyle.xl="height: 100vh">
  <mat-card fxFlex fxFlex.md="90" fxFlex.sm="90" fxFlex.lg="40" fxFlex.xl="30" fxLayout="column" fxLayoutAlign="center">
    <mat-card-title class="text-center">Logowanie</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="login()" autocomplete="on">
      <mat-card-content fxLayout="column">
        <mat-form-field class="my-3" appearance="outline">
          <mat-label>Email:</mat-label>
          <input matInput type="email" formControlName="email" placeholder="Twój email" />
          <mat-icon matSuffix>mail_outline</mat-icon>
          <mat-hint>Adres Email</mat-hint>
          <mat-error *ngIf="form.controls['email'].hasError('required')">Email jest wymagany</mat-error>
          <mat-error *ngIf="form.controls['email'].hasError('email')">Nieprawidłowo wpisany adres email</mat-error>
        </mat-form-field>
        <mat-form-field class="my-3" appearance="outline">
          <mat-label>Hasło </mat-label>
          <input matInput [type]="visible_password ? 'password' : 'text'" placeholder="Twoje hasło"
            formControlName="password" />
          <mat-icon (click)="visible_password=!visible_password" matSuffix>
            {{ visible_password ? 'visibility' : 'visibility_off' }}
          </mat-icon>
          <mat-error *ngIf="form.controls['password'].hasError('required')">Hasło jest wymagane</mat-error>
          <mat-error *ngIf="form.controls['password'].hasError('minlength')">Hasło jest zbyt krótkie</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [class.spinner]="loading" type="submit"
          [disabled]="!form.valid||loading"> Zaloguj się </button>
      </mat-card-content>
    </form>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>