<div class="container-fluid mt-5">
  <div class="row my-4" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20">
    <div fxFlex="60" fxLayoutAlign="center">
        <mat-form-field class="search-panel" fxFlex="50" fxFlex.sm fxFlex.xs>
          <input #box matInput type="text" (keyup)="doFilter(box.value)" placeholder="Wyszukaj..">
        </mat-form-field>
      </div>
      <div fxFlex fxLayoutAlign="center center">
        <a mat-raised-button color="primary" fxFlex.sm fxFlex.xs  (click)="addApartment()">
          <mat-icon aria-hidden="false" aria-label="person_add">person_add</mat-icon> Dodaj Lokal
        </a>
      </div>
  </div>
  
    <div class="col-12">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
  
          <ng-container matColumnDef="owner.name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Imię </th>
            <td mat-cell *matCellDef="let element"> {{element.owner.name}} </td>
          </ng-container>
          
          <ng-container matColumnDef="owner.lastname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko </th>
            <td mat-cell *matCellDef="let element"> {{element.owner.lastname}} </td>
          </ng-container>
          
          <ng-container matColumnDef="street">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ulica </th>
            <td mat-cell *matCellDef="let element"> {{element.street}} </td>
          </ng-container>
  
          <ng-container matColumnDef="buildingnumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Numer Budynku </th>
            <td mat-cell *matCellDef="let element"> {{element.buildingnumber}} </td>
          </ng-container>
  
          <ng-container matColumnDef="area">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Powierzchnia (m2)</th>
            <td mat-cell *matCellDef="let element"> {{element.area}}</td>
          </ng-container>
  
          <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Stawka</th>
            <td mat-cell *matCellDef="let element"> {{element.rate}}</td>
          </ng-container>
  
          <ng-container matColumnDef="apartmentnumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Numer Lokalu </th>
            <td mat-cell *matCellDef="let element"> {{element.apartmentnumber}}</td>
          </ng-container>
  
          <ng-container matColumnDef="postcode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Kod Pocztowy </th>
            <td mat-cell *matCellDef="let element"> {{element.postcode | mask: '00-000'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="redirectToEdit(element)">
                  <mat-icon>edit</mat-icon>
                  <span>Edytuj</span>
                </button>
                <button mat-menu-item (click)="redirectToDelete(element)">
                  <mat-icon>delete</mat-icon>
                  <span>Usuń</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
              <span *ngIf="box.value.length > 0 else NODATA">Nie odnaleziono danych</span>
              <ng-template #NODATA>zostały jeszcze opublikowane żadne rozliczenia</ng-template> 
            </td>
          </tr>

  
        </table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
  
    </div>
  