<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Edytuj Płatność</ng-template>
      <div class="row">
          <div class="col-6">
            <app-input2 [control]="amount" title="Kwota" [value]="data.amount"></app-input2> 
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status" [(ngModel)]="data.status">
                <mat-option *ngFor="let f of form" [value]="f.label">
                  {{f.label}}
                </mat-option>
              </mat-select>
              <mat-hint>Rodzaj Płatności</mat-hint>
            </mat-form-field>
          </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Data</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint>Kiedy zatwierdzono wpłatę</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div>
      <button mat-raised-button matStepperNext>Przejdź Dalej</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Finalizacja</ng-template>
    <div class="row my-4">
      <p>Czy jesteś pewny, że chcesz zmodyfikować tą płatność ?</p>
    </div>
    <div fxLayout="row" fxLayoutGap="20">
      <button mat-raised-button matStepperPrevious>Cofnij</button>
      <button mat-raised-button color="primary" (click)="editPayment()">Edytuj Płatność</button>
    </div>
  </mat-step>
</mat-stepper>
