<h2 mat-dialog-title><span class="material-icons">
    password
  </span> Zmiana Hasła</h2>
<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <mat-dialog-content class="mat-typography">
    <h3>Jeżeli występują problemy z zmianą hasła, prosimy o ponowne zalogowanie się.</h3>

    <nz-form-item>

      <div fxLayout="row" fxLayoutGap="20">
        <nz-input-group [nzSuffix]="suffixOldPassword">
          <input [type]="oldpasswordVisible ? 'text' : 'password'" nz-input formControlName="oldpassword"
            placeholder="Wpisz obecne hasło" [(ngModel)]="oldpassword" />
        </nz-input-group>
        <ng-template #suffixOldPassword>
          <i nz-icon [nzType]="oldpasswordVisible ? 'eye-invisible' : 'eye'"
            (click)="oldpasswordVisible = !oldpasswordVisible"></i>
        </ng-template>

        <nz-input-group [nzSuffix]="suffixNewPassword">
          <input [type]="newpasswordVisible ? 'text' : 'password'" nz-input formControlName="newpassword"
            placeholder="Wpisz nowe hasło" [(ngModel)]="newpassword" />
        </nz-input-group>
        <ng-template #suffixNewPassword>
          <i nz-icon [nzType]="newpasswordVisible ? 'eye-invisible' : 'eye'"
            (click)="newpasswordVisible = !newpasswordVisible"></i>
        </ng-template>
      </div>

    </nz-form-item>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Anuluj</button>
    <button mat-button type="submit" [disabled]="!validateForm.valid">Zmień Hasło</button>
  </mat-dialog-actions>
</form>